/**
 * @file
 * ALTRES Custom Styles
 *
 * Custom styles for the ALTRES website.
 */

/*
 * Overall Styles:
 *
 */

.page-wrapper {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

#splash {
	padding: 20px 0 0;
	background-position: center top;
	background-repeat: no-repeat;
	height: 578px;
	position: relative;
	z-index: 0;
}

/*
 * Header Area
 *
 */

#header {
	position: relative;
}

#header-first {
	float: left;
	width: 730px;
	height: 90px;
}

#header-last {
	float: right;
	width: 240px;
	height: 90px;
	font-size: 10px;
	font-family: Verdana;
}

.header-box {
	background-color: #00295F;
	box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;
	position: relative;
}

#logo-box {
	position: relative;
	left: 25px;
	top: 55px;
}

#logo {
	background: url(../images/logos/altres-logo.png);
	background-repeat: no-repeat;
	width: 149px;
	height: 19px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}

.nav a, .nav a:link, .nav a:visited, #quick-contact a, #quick-contact a:link, #quick-contact a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

.nav a:hover, .nav a:focus, .nav a:active {
}

#secondary-links {
	position: relative;
	top: 50px;
	right: 115px;
	text-align: right;
	font-family:"museo-sans-1","museo-sans-2",sans-serif;
	font-size: 14px;
}

#secondary-links ul.links li {
	padding-left: 45px;
}

#secondary-links a:hover, #secondary-links a:focus, #secondary-links a:active {
	border-bottom: 1px dotted #FFFFFF;
}

#quick-contact {
	font-weight: bold;
	position: relative;
	top: 10px;
	right: 15px;
	text-align: right;
}

#tertiary-links {
	text-align: center;
	position: relative;
	top: 40px;
}


/*
 * Main Staffing Links
 *
 */
 
#staffing {
	position: relative;
	height: 103px;
	background-image: url(../images/staffing/staffing-bg.png);
	background-repeat: repeat-x;
	z-index: 3;
	top: 436px;
	padding-top: 18px;
}

#primary-links {
	position: relative;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	height: 103px;
	z-index: 5;
}

#primary-links a, #primary-links a:link, #primary-links a:visited {
	position: relative;
	top: 0;
	z-index: 7;
	display: block;
	width: 213px;
	height: 103px;
	padding-left: 32px;
	text-transform: uppercase;
}

#primary-links a:hover, #primary-links a:focus, #primary-links a:active {
	background-image: url(../images/staffing/staffing-hover-bg.png);
}

#primary-links ul.links {
	margin: 0;
	position: relative;
	top: -50px;
}

#primary-links ul.links li {
	position: relative;
	top: 0px;
	padding: 0;
	float: left;
}


/*
 * Front Page
 *
 */

body.front #splash {
	background-image: url(../images/splash/splash-homepage.jpg);
	background-color: #002B5C;
}


/*
 * Major Sections:
 * Styles in this region provide styling for each of the four major regions:
 * Industrial, Office, Technical, and Medical
 *
 */

/* INDUSTRIAL */


/* OFFICE */


/* TECHNICAL */


/* MEDICAL */