/**
 * @file
 * ALTRES Custom Styles
 *
 * Custom styles for the ALTRES website.
 */

/* --------------------------------  */
/*
 * TEMP Styles - They may be removed when Development is complete.
 *
 */
 /* --------------------------------  */
 
.comment {
	background-color: yellow;
	padding: 5px;
}

/* --------------------------------  */
/* End TEMP Styles */
/* --------------------------------  */






/*
 * Overall Styles:
 *
 */

body {
	background-color: #002B5C;
}

.page-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 985px;
}

#page {
	position: relative;
	overflow: hidden;
	top: 1px;
	/* z-index: -3; */
}

#splash {
	padding: 20px 0 0;
	background-position: center top;
	background-repeat: no-repeat;
	height: 578px;
	position: relative;
	z-index: 0;
	background-color: #002B5C;
}

body.not-front #splash {
	height: 379px;
}

page.not-front #main p, page.not-front #main ul li, page.not-front #main table td {
	line-height: 1.5em;
	font-size: 13px;
}

body.section-user #main {
	background-color: #FFF;
	padding: 10px;
}

a {
	outline: none;
}

ul, ol {
	padding-left: 1em;
}



/*
 * Page Layout
 * These styles override those in layout-fixed.css
 *
 */

.two-sidebars #content {
	margin-left: 250px;
	width: 490px;
	clear: left;
}

#content p {
	font-size: 93%;
	line-height: 1.6em;
}

.region-sidebar-first {
}

.region-sidebar-second {
}



/*
 * Header Area
 *
 */

#header {
	position: relative;
}

#header-first {
	float: left;
	width: 730px;
	height: 90px;
}

#header-last {
	float: right;
	width: 240px;
	height: 90px;
	font-size: 10px;
	font-family: Verdana;
}

.header-box {
	background-color: #00295F;
	/*
box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;
*/
	position: relative;
}

#logo-box {
	position: absolute;
	left: 30.5px;
	bottom: 14.6px;
}

#logo {
	background: url(../images/logos/altres-logo.png);
	background-repeat: no-repeat;
	width: 149px;
	height: 19px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}

.nav a, .nav a:link, .nav a:visited, #quick-contact a, #quick-contact a:link, #quick-contact a:visited, .menu a, .menu a:link, .menu a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

.nav a:hover, .nav a:focus, .nav a:active {
}

#secondary-links {
	position: absolute;
	bottom: 12.60px;
	right: 115px;
	text-align: right;
	font-family:"museo-sans-1","museo-sans-2",sans-serif;
	font-size: 15px;
}

#secondary-links ul.links {
	margin: 0;
}

#secondary-links ul.links li {
	padding-left: 45px;
}

#secondary-links a:hover, #secondary-links a:focus, #secondary-links a:active {
	color: #00A5D9;
}

#quick-contact {
	color: #FFFFFF;
	position: absolute;
	top: 18px;
	right: 26px;
	text-align: right;
	font-family: "museo-sans-1","museo-sans-2",sans-serif;
	font-weight: 300;
}

#quick-contact a {
}

#tertiary-links {
	text-align: right;
	position: absolute;
	right: 26px;
	bottom: 14.6px;
	font-size: 11px;
	font-weight: 300;
	font-family: "museo-sans-1","museo-sans-2",sans-serif;
}

#tertiary-links ul.links {
	margin: 0;
}


#tertiary-links ul.links li {
	padding: 0 0.9em;
}

#tertiary-links ul.links li.last {
	padding-right: 0;
}


/*
 * Feature Area
 *
 */

#feature {
	width: 980px;
	height: 385px;
	position: relative;
	z-index: 2;
	top: 90px;
}

#feature .feature, #feature .feature a, #feature .feature a img {
	width: 980px;
	height: 385px;
}

#feature .feature a {
	display: block;
	position: relative;
}

#feature .feature a img {
	position: absolute;
	left: 0px;
}

body.front #feature .feature {
	display: none;
}

body.front #feature #feature-homepage {
	display: inherit;
}

/*
 * Main Staffing Links
 *
 */
 
#staffing {
	position: relative;
	height: 102px;
	background-image: url(../images/staffing/staffing-bg.png);
	background-repeat: repeat-x;
	z-index: 3;
	top: 73px;
	padding-top: 18px;
}

body.not-front #staffing {
	height: 111px;
	top: -95px;
}

#primary-links {
	position: relative;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	height: 103px;
	z-index: 5;
}

body.not-front #primary-links {
	height: 111px;
}

#primary-links a, #primary-links a:link, #primary-links a:visited {
	font-size: 15px;
	position: relative;
	top: 0;
	z-index: 7;
	display: block;
	width: 213px;
	height: 103px;
	padding-left: 32px;
	text-transform: uppercase;
	padding-top: 8px;
	font-family: "museo-sans-1","museo-sans-2",sans-serif;
	font-weight: 500;
}

body.not-front #primary-links a, body.not-front #primary-links a:link, body.not-front #primary-links a:visited {
	height: 59px;
	padding-top: 19px;
	text-transform: capitalize;
}

#primary-links a span {
	font-size: 11px;
	font-weight: 300;
	text-transform: none;
	visibility: hidden;	/* Hidden by default. Span text is shown on hover and click via splash.js */
	width: 170px;
	margin-top: -10px;
	display: block !important;
}

#primary-links a:hover, #primary-links a:focus, #primary-links a:active, #primary-links a.active {
	background-image: url(../images/staffing/staffing-hover-bg.png);
}

#primary-links a:hover span, #primary-links a:focus span, #primary-links a:active span, #primary-links a.active span {
	visibility: visible;
}

#primary-links ul.links {
	margin: 0;
	position: relative;
}

#primary-links ul.links li {
	position: relative;
	top: 0px;
	padding: 0;
	float: left;
	margin-left: -1px;    /* Prevents gap between rollover backgrounds on home page */
}

ul li p {
	margin: 0;
}

.content h3, .content h4 {
	margin-bottom: -0.7em;
	font-family:"museo-sans-1","museo-sans-2",sans-serif;
	font-weight: 500;
}


/*
 * Footer Area
 *
 */

#footer {
	font-size: 10px;
	line-height: 17px;
	color: #FFFFFF;
	margin: 10px 26px 0 30px;
	padding-bottom: 100px;
}

#block-block-1 {
	float: right;
	text-align: right;
	margin-bottom: 0;
}

#block-menu-menu-quaternary-links {
	float: left;
	margin-bottom: 0;
}

#block-menu-menu-quaternary-links ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#block-menu-menu-quaternary-links ul li {
	display: inline;
}

#block-menu-menu-quaternary-links ul li a, #block-menu-menu-quaternary-links ul li a:link, #block-menu-menu-quaternary-links ul li a:visited {
	border-right: 1px solid #FFFFFF;
	padding-right: 0.3em;
}

#block-menu-menu-quaternary-links ul li.last a, #block-menu-menu-quaternary-links ul li.last a:link, #block-menu-menu-quaternary-links ul li.last a:visited {
	border: none;
}

#block-block-4 {
	clear: left;
}





/*
 * Front Page
 *
 */

body.front {
	background-color: #00295F;
}

body.front div.homepage-splash {
	background-image: url(../images/splash/background/splash-homepage.jpg);
}

body.front h1.title {
	display: none;
}

#about {
	font-size: 11px;
}

body.front #page {
	background: url(../images/bio-bg.jpg);
	background-repeat: repeat-x;
	color: #FFFFFF;
	height: 166px;
}

body.front #main {
	color: #FFFFFF;
	background-image: none;
}

#node-37 {
	position: relative;
	top: -10px;
	margin-left: 10px;
	margin-right: 10px;
}


/*
 * Not the Front Page
 *
 */





/*
 * Major Sections:
 * Styles in this region provide styling for each of the four major regions:
 * Industrial, Office, Technical, and Medical
 *
 */


/* INDUSTRIAL */

body.front div.industrial-splash {
	background-image: url(../images/splash/background/splash-industrial.jpg);
}

body.section-industrial #main {
	background-color: #FFFFFF;
}

body.section-industrial #logo {
	background: url(../images/logos/altres-industrial-logo.png);
	height: 32px;
	width: 147px;
}

body.section-industrial {
	background-color: #000000;
}

body.section-industrial .header-box {
	background-color: #000000;
}

body.section-industrial #main h2, body.section-industrial #main blockquote, body.section-industrial #main #content .left-col h3 strong, body.section-industrial #main #content .right-col h3 strong {
	color: #0067B1;
}

body.section-industrial blockquote {
	background-image: url(../images/lquote-industrial.png);
}

body.section-industrial #staffing {
	background-image: url(../images/staffing/industrial-bg.png);
}

body.section-industrial #primary-links a, body.section-industrial #primary-links a:link, body.section-industrial #primary-links a:visited {
	color: #000000;
}

body.section-industrial #primary-links a:hover, body.section-industrial #primary-links a:focus, body.section-industrial #primary-links a:active, body.section-industrial #primary-links a.active, body.section-industrial #primary-links li.active-trail a {
	background-image: url(../images/staffing/industrial-hover-bg.png);
	background-position: 0px -11px;
}

body.section-industrial #splash {
	background-image: url(../images/splash/background/interior-industrial.jpg);
}


/* OFFICE */

body.front div.office-splash {
	background-image: url(../images/splash/background/splash-office.jpg);
}

body.section-office #main {
	background-color: #FFFFFF;
}

body.section-office #logo {
	background: url(../images/logos/altres-office-logo.png);
	height: 32px;
	width: 147px;
}

body.section-office {
	background-color: #D6D7D8;
}

body.section-office .header-box {
	background-color: #7D6A55;
}

body.section-office #main h2, body.section-office #main blockquote, body.section-office #main #content .left-col h3 strong, body.section-office #main #content .right-col h3 strong {
	color: #6B2772;
}

body.section-office blockquote {
	background-image: url(../images/lquote-office.png);
}

body.section-office #staffing {
	background-image: url(../images/staffing/office-bg.png);
}

body.section-office #primary-links a:hover, body.section-office #primary-links a:focus, body.section-office #primary-links a:active, body.section-office #primary-links a.active, body.section-office #primary-links li.active-trail a {
	background-image: url(../images/staffing/office-hover-bg.png);
	background-position: 0px -6px;
}

body.section-office #splash {
	background-image: url(../images/splash/background/interior-office.jpg);
}


/* TECHNICAL */

body.front div.technical-splash {
	background-image: url(../images/splash/background/splash-technical.jpg);
}

body.section-technical #main {
	background-color: #FFFFFF;
}

body.section-technical #logo {
	background: url(../images/logos/altres-technical-logo.png);
	height: 32px;
	width: 147px;
}

body.section-technical {
	background-color: #D6D7D8;
}

body.section-technical .header-box {
	background-color: #404041;
}

body.section-technical #main h2, body.section-technical #main blockquote, body.section-technical #main #content .left-col h3 strong, body.section-technical #main #content .right-col h3 strong {
	color: #ED1C2E;
}

body.section-technical blockquote {
	background-image: url(../images/lquote-technical.png);
}

body.section-technical #staffing {
	background-image: url(../images/staffing/technical-bg.png);
}

body.section-technical #primary-links a:hover, body.section-technical #primary-links a:focus, body.section-technical #primary-links a:active, body.section-technical #primary-links a.active, body.section-technical #primary-links li.active-trail a {
	background-image: url(../images/staffing/technical-hover-bg.png);
	background-position: 0px -6px;
}

body.section-technical #splash {
	background-image: url(../images/splash/background/interior-technical.jpg);
}


/* MEDICAL */

body.front div.medical-splash {
	background-image: url(../images/splash/background/splash-medical.jpg);
}

body.section-medical #main {
	background-color: #FFFFFF;
}

body.section-medical #logo {
	background: url(../images/logos/altres-medical-logo.png);
	height: 33px;
	width: 147px;
}

body.section-medical {
	background-color: #D6D7D8;
}

body.section-medical .header-box {
	background-color: #00649C;
}

body.section-medical #main h2, body.section-medical #main blockquote, body.section-medical #main #content .left-col h3 strong, body.section-medical #main #content .right-col h3 strong {
	color: #0067B1;
}

body.section-medical blockquote {
	background-image: url(../images/lquote-medical.png);
}

body.section-medical #staffing {
	background-image: url(../images/staffing/medical-bg.png);
}

body.section-medical #primary-links a:hover, body.section-medical #primary-links a:focus, body.section-medical #primary-links a:active, body.section-medical #primary-links a.active, body.section-medical #primary-links li.active-trail a {
	background-image: url(../images/staffing/medical-hover-bg.png);
	background-position: 0px -6px;
}

body.section-medical #splash {
	background-image: url(../images/splash/background/interior-medical.jpg);
}


/*
 * Other Pages:
 * Styles in this region provide styling for misc pages such as:
 * Sitemap, Terms of Service, Privacy Policy, Contact Us, etc
 *
 */

body.page-sitemap #main, body.page-terms-of-service #main, body.page-privacy-policy #main, body.page-contact-us #main, body.page-payroll #main, body.page-training #main, body.page-neighbor-islands #main, body.section-about-us #main, body.section-successes #main, body.section-insights #main {
	background-color: #FFFFFF;
}

body.section-about-us, body.section-successes, body.section-insights {
	background-color: #D6D7D8;
}

body.section-successes #staffing, body.section-insights #staffing, body.section-about-us #staffing, body.section-contact-us #staffing, body.section-sitemap #staffing, body.section-terms-of-service #staffing, body.section-privacy-policy #staffing {
	background-image: url(../images/staffing/successes-bg.png);
}

body.section-successes #primary-links a:hover, body.section-successes #primary-links a:focus, body.section-successes #primary-links a:active, body.section-successes #primary-links a.active, body.section-insights #primary-links a:hover, body.section-insights #primary-links a:focus, body.section-insights #primary-links a:active, body.section-insights #primary-links a.active, body.section-about-us #primary-links a:hover, body.section-about-us #primary-links a:focus, body.section-about-us #primary-links a:active, body.section-about-us #primary-links a.active, body.section-contact-us #primary-links a:hover, body.section-contact-us #primary-links a:focus, body.section-contact-us #primary-links a:active, body.section-contact-us #primary-links a.active, body.section-sitemap #primary-links a:hover, body.section-sitemap #primary-links a:focus, body.section-sitemap #primary-links a:active, body.section-sitemap #primary-links a.active, body.section-terms-of-service #primary-links a:hover, body.section-terms-of-service #primary-links a:focus, body.section-terms-of-service #primary-links a:active, body.section-terms-of-service #primary-links a.active, body.section-privacy-policy #primary-links a:hover, body.section-privacy-policy #primary-links a:focus, body.section-privacy-policy #primary-links a:active, body.section-privacy-policy #primary-links a.active {
	background-image: url(../images/staffing/successes-hover-bg.png);
}

body.section-successes #splash, body.section-insights #splash, body.section-about-us #splash, body.section-contact-us #splash, body.section-sitemap #splash, body.section-terms-of-service #splash, body.section-privacy-policy #splash {
	background-image: url(../images/splash/background/interior-successes.jpg);
}



/*
 * Body Styles
 * 
 * 
 *
 */

#main {
	font-family: Georgia, serif;
	color: #4D4D4F;
	padding-top: 20px;
	padding-bottom: 40px;
	position: relative;
	background-image: url(../images/main-bg.jpg);
	background-repeat: repeat-x;
}

#main h1 {
	color: #000000;
	font-weight: 900;
	font-size: 55px;
	margin: 0;
	line-height: 1.1em;
	font-family: "museo-sans-1","museo-sans-2",sans-serif;
}

#main h2#page-identifier {
	color: #000000;
	font-size: 1.4em;
	margin-left: -225px;
	margin-bottom: 16px;
	float: left;
	padding-bottom: 0px;
	font-weight: 700;
}

div.title {
	float: left;
	margin-left: -225px;
	margin-top: 26px;
	margin-bottom: 16px;
	width: 50px;
}

#main h2 {
	font-weight: 100;
	margin-top: 0;
	font-family: "museo-sans-1","museo-sans-2",sans-serif;
}

#main a {
	color: #ED1C2E;
}

.caption {
	font-size: 0.8em;
	font-style: italic;
}

.quote {
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	font-size: 16px;
	line-height: 21px;
	padding: 8px 0;
}

.quote p {
	margin: 0;
}

.column-left {
	width: 45%;
	float: left;
	padding: 20px;
}

.column-right {
	width: 45%;
	float: right;
	padding: 20px;
}

.hr-center {
	border-top: 1px solid #000000;
	clear: both;
}

.hr-left-center {
	border-top: 1px solid #000000;
	width: 710px;
	margin-left: -235px;
	clear: both;
}

.hr-right-center {
	border-top: 1px solid #000000;
	width: 710px;
	clear: both;
}

.hr-left-right-center {
	border-top: 1px solid #000000;
	width: 950px;
	margin-left: -235px;
	clear: both;
}

img.align-right {
	float: right;
}

img.align-left {
	float: left;
}

#page ul li {
	margin-top: 5px;
}


/* ZEBRA-STRIPING AND TWO-COLUMN LISTS/TABLES */

#page ul.zebra li {
	list-style-image: url(../images/nav/sidebar-menu-up.png);
	padding: 2px 0px 2px 15px;
	list-style-position: inside;
	margin-top: 0px;
	line-height: normal;
}

#page ul.zebra li.even {
	background-color: #E0E7F6;
}

.two-column {
	-moz-column-count: 2;
	-moz-column-gap: 5px;
	-webkit-column-count:2;
	-webkit-column-gap: 5px;
	column-count: 2;
	column-gap: 5px;
}

ul.two-column {
	width: 350px;
}

td {
	font-family: Georgia, serif;
}

table.list {
	border-spacing: 5px 0px;
	border-collapse: separate;
	margin: 0 0 0 28px;
}

table.list td {
	padding-right: 55px;
	background-image: url(../images/nav/sidebar-menu-up.png);
	background-repeat: no-repeat;
	background-position: 12px center;
	padding-left: 26px;
}

table.zebra td.even {
	background-color: #E0E7F6;
}



/* BLOCKQUOTE/PULLQUOTE */
/* Note: additional blockquote styles found in section-specific areas */

blockquote {
	font-style: italic;
	font-size: 110%;
	background-image: url(../images/lquote.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 5px;
}

blockquote.align-right {
	width: 50%;
	float: right;
	margin: 2px 2px 2px 5px;
}

blockquote.align-left {
	width: 50%;
	float: left;
	margin: 2px 5px 2px 2px;
}


/*
 * Sidebar Styles
 * 
 * 
 *
 */

/* NAVIGATION */

#main .block-menu_block {
	margin-top: 58px;
	font-family: "museo-sans-1","museo-sans-2",sans-serif;
	font-weight: 500;
}

#main .block-menu_block ul.menu {
	margin-top: -6px;
	padding-left: 40px;
}

#main .block-menu_block ul li {
	margin: 0;
	font-size: 100%;
	line-height: 1.5em;
}

#main .block-menu_block .menu a {
	color: #000000;
}

#main .block-menu_block .menu a.active {
	font-weight: 700;
	font-size: 110%;
}

#main .block-menu_block .menu li.leaf {
	list-style-image: url(../images/nav/sidebar-menu-up.png);
}

.whitepaper {
	position: relative;
}

.sidebar .whitepaper h3 {
	position: absolute;
	right: 0px;
	top: 5px;
	width: 75px;
	margin: 0px;
	font-size: 0.8em;
}

.whitepaper .button {
	position: absolute;
	top: 100px;
}




/* INFOGRAPHICS AND STANDARD BLOCKS */

.sidebar .block {
	margin-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
}

.region-sidebar-second .region-count-1 {
	margin-top: 0;
}

#main .sidebar h2.title {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 0.7em;
}

.sidebar .hr-center {
	margin-top: 20px;
}

#main #content .right-col {
	position: absolute;
	left: 755px;
	width: 200px;
	border-top: 1px solid #000;
	font-size: 65%;
	margin-top: 4px;
}

#main #content .left-col {
	position: absolute;
	width: 210px;
	border-top: 1px solid #000;
	left: 20px;
	font-size: 65%;
	margin-top: 4px;
}

#main #content .no-border {
	border-top: none;
}

#main #content .left-col ul li, #main #content .left-col p, #main #content .right-col ul li, #main #content .right-col p {
	font-size: 11px;
	line-height: 1.6em;
}

#main #content .left-col ul.zebra li, #main #content .right-col ul.zebra li {
	font-size: 13px;
}

#main #content .left-col h3, #main #content .right-col h3 {
	font-weight: normal;
	font-family:"museo-sans-1","museo-sans-2",sans-serif;
}

#main #content .left-col h4, #main #content .right-col h4 {
	color: #000;
}

#main .right-col h2, #main .left-col h2 {
	margin-top: 10px;
	font-size: 1.5em;
	font-weight: 300;
}


/* HEADERS */

.sidebar h2 {
	font-size: 1.2em;
}

.sidebar h3 {
	font-size: 1em;
	font-weight: bold;
}




/* VIDEO SIDEBAR DISPLAY */

.emvideo-thumbnail-replacement span {
	display: none;
}

#emvideo-youtube-flash-wrapper-1 {
	text-align: center;
}

.field-field-video-caption {
	text-align: center;
	font-size: 0.9em;
}




/* VIDEO SHOWCASE DISPLAY */

.region-sidebar-second .block-views .view-video-showcase {
	margin-left: -500px;
}

.view-video-showcase {
	width: 715px;
	height: 350px;
}

.view-video-showcase .views_slideshow_main {
	float: left;
}

.view-video-showcase .views-slideshow-controls-bottom {
	width: 225px;
	float: right;
	position: relative;
}

.view-video-showcase .views-slideshow-controls-bottom .views_slideshow_thumbnailhover_div_breakout_teaser {
	clear: both;
	position: relative;
}

.view-video-showcase .views-slideshow-controls-bottom .views-field-field-video-embed {
	float: left;
}

.view-video-showcase .views-slideshow-controls-bottom .views-content-field-video-embed img {
	width: 100px;
	height: 75px;
}

.view-video-showcase .views-slideshow-controls-bottom .views-field-title, .view-video-showcase .views-slideshow-controls-bottom .views-field-field-video-duration {
	width: 110px;
	font-size: 80%;
	float: right;
}