/**
 * @file
 * ALTRES Custom Styles
 *
 * Custom styles for the ALTRES website.
 */

/* --------------------------------  */
/*
 * TEMP Styles - DELETE when dev is complete
 *
 */
 /* --------------------------------  */
 


/* --------------------------------  */
/* End DELETE */
/* --------------------------------  */






/*
 * Overall Styles:
 *
 */

body {
	background-color: #002B5C;
}

.page-wrapper {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

#splash {
	padding: 20px 0 0;
	background-position: center top;
	background-repeat: no-repeat;
	height: 578px;
	position: relative;
	z-index: 0;
	background-color: #002B5C;
}



/*
 * Page Layout
 * These styles override those in layout-fixed.css
 *
 */

.two-sidebars #content {
	margin-left: 250px;
	width: 460px;
}

.region-sidebar-first {
	width: 250px;
}

.region-sidebar-second {
	width: 250px;
	margin-left: 668px;
	padding-top: 50px;
}



/*
 * Header Area
 *
 */

#header {
	position: relative;
}

#header-first {
	float: left;
	width: 730px;
	height: 90px;
}

#header-last {
	float: right;
	width: 240px;
	height: 90px;
	font-size: 10px;
	font-family: Verdana;
}

.header-box {
	background-color: #00295F;
	box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;
	position: relative;
}

#logo-box {
	position: relative;
	left: 25px;
	top: 55px;
}

#logo {
	background: url(../images/logos/altres-logo.png);
	background-repeat: no-repeat;
	width: 149px;
	height: 19px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}

.nav a, .nav a:link, .nav a:visited, #quick-contact a, #quick-contact a:link, #quick-contact a:visited, .menu a, .menu a:link, .menu a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

.nav a:hover, .nav a:focus, .nav a:active {
}

#secondary-links {
	position: relative;
	top: 50px;
	right: 115px;
	text-align: right;
	font-family:"museo-sans-1","museo-sans-2",sans-serif;
	font-size: 14px;
}

#secondary-links ul.links li {
	padding-left: 45px;
}

#secondary-links a:hover, #secondary-links a:focus, #secondary-links a:active {
	border-bottom: 1px dotted #FFFFFF;
}

#quick-contact {
	font-weight: bold;
	position: relative;
	top: 10px;
	right: 15px;
	text-align: right;
}

#tertiary-links {
	text-align: center;
	position: relative;
	top: 40px;
}


/*
 * Feature Area
 *
 */

#feature {
	width: 980px;
	height: 385px;
	position: relative;
	z-index: 2;
	top: 90px;
}

#feature .feature, #feature .feature a, #feature .feature a img {
	width: 980px;
	height: 385px;
}

#feature .feature a {
	display: block;
	position: relative;
}

#feature .feature a img {
	position: absolute;
	left: 0px;
}

body.front #feature .feature {
	display: none;
}

body.front #feature #feature-homepage {
	display: inherit;
}

/*
 * Main Staffing Links
 *
 */
 
#staffing {
	position: relative;
	height: 103px;
	background-image: url(../images/staffing/staffing-bg.png);
	background-repeat: repeat-x;
	z-index: 3;
	top: 72px;
	padding-top: 18px;
}

#primary-links {
	position: relative;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	height: 103px;
	z-index: 5;
}

#primary-links a, #primary-links a:link, #primary-links a:visited {
	font-size: 14px;
	position: relative;
	top: 0;
	z-index: 7;
	display: block;
	width: 213px;
	height: 103px;
	padding-left: 32px;
	text-transform: uppercase;
	padding-top: 5px;
}

#primary-links a span {
	font-size: 11px;
	text-transform: none;
	display: none;	/* Hidden by default. Span text is shown on hover and click via splash.js */
}

#primary-links a:hover, #primary-links a:focus, #primary-links a:active, #primary-links a.active {
	background-image: url(../images/staffing/staffing-hover-bg.png);
}

#primary-links ul.links {
	margin: 0;
	position: relative;
}

#primary-links ul.links li {
	position: relative;
	top: 0px;
	padding: 0;
	float: left;
}


/*
 * Footer Area
 *
 */

#footer {
	font-size: 10px;
	line-height: 17px;
	color: #FFFFFF;
	margin-top: 10px;
	padding-bottom: 100px;
}

#block-block-1 {
	float: right;
	text-align: right;
	margin-bottom: 0;
}

#block-menu-menu-quaternary-links {
	float: left;
	margin-bottom: 0;
}

#block-menu-menu-quaternary-links ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#block-menu-menu-quaternary-links ul li {
	display: inline;
}

#block-menu-menu-quaternary-links ul li a, #block-menu-menu-quaternary-links ul li a:link, #block-menu-menu-quaternary-links ul li a:visited {
	border-right: 1px solid #FFFFFF;
	padding-right: 0.3em;
}

#block-menu-menu-quaternary-links ul li.last a, #block-menu-menu-quaternary-links ul li.last a:link, #block-menu-menu-quaternary-links ul li.last a:visited {
	border: none;
}

#block-block-4 {
	clear: left;
}




/*
 * Splash Pages
 *
 */

body.front #page, body.page-industrial #page, body.page-office #page, body.page-technical #page, body.page-medical #page {
	background: url(../images/bio-bg.jpg);
	background-repeat: repeat-x;
	color: #FFFFFF;
}



/*
 * Front Page
 *
 */

body.front #splash {
	background-image: url(../images/splash/background/splash-homepage.jpg);
}

body.front h1.title {
	display: none;
}

#about {
	font-size: 11px;
}



/*
 * Major Sections:
 * Styles in this region provide styling for each of the four major regions:
 * Industrial, Office, Technical, and Medical
 *
 */


/* INDUSTRIAL */

body.page-industrial #splash {
	background-image: url(../images/splash/background/splash-industrial.jpg);
}

body.page-industrial h1.title {
	display: none;
}

body.section-industrial #main {
	background-color: #FFFFFF;
}

body.page-industrial #main {
	background: none;
}

body.section-industrial #logo {
	background: url(../images/logos/altres-industrial-logo.png);
	height: 32px;
	width: 147px;
}

body.page-industrial #logo {
	background: url(../images/logos/altres-logo.png);
	height: 19px;
	width: 149px;
}

body.section-industrial {
	background-color: #000000;
}

body.page-industrial {
	background-color: #002B5C;
}

body.section-industrial .header-box {
	background-color: #000000;
}

body.page-industrial .header-box {
	background-color: #00295F;
}

body.section-industrial #main h2 {
	color: #0067B1;
}


/* OFFICE */

body.page-office #splash {
	background-image: url(../images/splash/background/splash-office.jpg);
}

body.page-office h1.title {
	display: none;
}

body.section-office #main {
	background-color: #FFFFFF;
}

body.page-office #main {
	background: none;
}

body.section-office #logo {
	background: url(../images/logos/altres-office-logo.png);
	height: 32px;
	width: 147px;
}

body.page-office #logo {
	background: url(../images/logos/altres-logo.png);
	height: 19px;
	width: 149px;
}

body.section-office {
	background-color: #D6D7D8;
}

body.page-office {
	background-color: #002B5C;
}

body.section-office .header-box {
	background-color: #7D6A55;
}

body.page-office .header-box {
	background-color: #00295F;
}

body.section-office #main h2 {
	color: #6B2772;
}


/* TECHNICAL */

body.page-technical #splash {
	background-image: url(../images/splash/background/splash-technical.jpg);
}

body.page-technical h1.title {
	display: none;
}

body.section-technical #main {
	background-color: #FFFFFF;
}

body.page-technical #main {
	background: none;
}

body.section-technical #logo {
	background: url(../images/logos/altres-technical-logo.png);
	height: 32px;
	width: 147px;
}

body.page-technical #logo {
	background: url(../images/logos/altres-logo.png);
	height: 19px;
	width: 149px;
}

body.section-technical {
	background-color: #D6D7D8;
}

body.page-technical {
	background-color: #002B5C;
}

body.section-technical .header-box {
	background-color: #404041;
}

body.page-technical .header-box {
	background-color: #00295F;
}

body.section-technical #main h2 {
	color: #ED1C2E;
}


/* MEDICAL */

body.page-medical #splash {
	background-image: url(../images/splash/background/splash-medical.jpg);
}	

body.page-medical h1.title {
	display: none;
}

body.section-medical #main {
	background-color: #FFFFFF;
}

body.page-medical #main {
	background: none;
}

body.section-medical #logo {
	background: url(../images/logos/altres-medical-logo.png);
	height: 32px;
	width: 147px;
}

body.page-medical #logo {
	background: url(../images/logos/altres-logo.png);
	height: 19px;
	width: 149px;
}

body.section-medical {
	background-color: #D6D7D8;
}

body.page-medical {
	background-color: #002B5C;
}

body.section-medical .header-box {
	background-color: #00649C;
}

body.page-medical .header-box {
	background-color: #00295F;
}

body.section-medical #main h2 {
	color: #0067B1;
}


/*
 * Other Pages:
 * Styles in this region provide styling for misc pages such as:
 * Sitemap, Terms of Service, Privacy Policy, Contact Us, etc
 *
 */

body.page-sitemap #main, body.page-terms-of-service #main, body.page-privacy-policy #main, body.page-contact-us #main, body.page-payroll #main, body.page-training #main, body.page-neighbor-islands #main, body.section-about-us #main, body.section-successes #main, body.section-insights #main {
	background-color: #FFFFFF;
}

body.section-about-us, body.section-successes, body.section-insights {
	background-color: #D6D7D8;
}


/*
 * Body Styles
 * 
 * 
 *
 */

#main {
	font-family: Georgia, serif;
	color: #4D4D4F;
	padding-top: 20px;
	padding-bottom: 40px;
	position: relative;
}

#main h1 {
	color: #000000;
	font-weight: bold;
	font-size: 40px;
}

#main h1.title {
	font-size: 1.1em;
	margin-left: -225px;
	float: left;
	border-bottom: 1px solid #000000;
	padding-bottom: 5px;
}

#main h2 {
	font-weight: normal;
}

#main a {
	color: #ED1C2E;
}

.caption {
	font-size: 0.8em;
	font-style: italic;
}

.quote {
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	font-size: 16px;
	line-height: 21px;
	padding: 8px 0;
}

.quote p {
	margin: 0;
}

.column-left {
	width: 45%;
	float: left;
	padding: 20px;
}

.column-right {
	width: 45%;
	float: right;
	padding: 20px;
}

.hr-center {
	border-top: 1px solid #000000;
}

.hr-left-center {
	border-top: 1px solid #000000;
	width: 710px;
	margin-left: -235px;
}

.hr-right-center {
	border-top: 1px solid #000000;
	width: 710px
}

.hr-left-right-center {
	border-top: 1px solid #000000;
	width: 950px;
	margin-left: -235px;
}

/*
 * Sidebar Styles
 * 
 * 
 *
 */

/* NAVIGATION */

#main .block-menu_block {
	margin-top: 50px;
}

#main .block-menu_block .menu a {
	color: #000000;
}

#main .block-menu_block .menu a.active {
	font-weight: bold;
}

#main .block-menu_block .menu li.leaf {
	list-style-image: url(../images/nav/sidebar-menu-up.png);
}

#main .block-menu_block .menu li.active {
	list-style-image: url(../images/nav/sidebar-menu-over.png);
}


/* INFOGRAPHICS AND STANDARD BLOCKS */

.sidebar .block {
	margin-top: 20px;
}

#main .sidebar h2.title {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 0.7em;
}